{% extends 'base.html' %}
{% block title %}- List{% endblock %}
{% block content %}
    <br><br><br><br><br><br><br><br><br>
    {% if not installbases %}
        <div id="wide-div" class="row">
            <div class="col text-center h1"> 검색 결과가 없습니다.</div>
        </div>
    {% else %}
        <table  width="1000" align="center">
        <tr>
            <td align="center"></td>
            <td align="center">운영/백업</td>
            <td align="center">고객사</td>
            <td align="center">Project<br>Name</td>
            <td align="center">스토리지<br>모델</td>
            <td align="center">OS 버전</td>
            <td align="center">시리얼</td>
            <td align="center">HOSTNAME</td>
            <td align="center">초기<br>설치일</td>
            <td align="center"></td>

        </tr>
        <tr>
            <td colspan="10"><hr></td>
        </tr>
        {% for post in installbases %}
            {% if post.deleted %}
                <tr>
                <td align="center">
                    {% if post.customer == "HKMC" %}
                        <img src="/static/hyundai_car.jpg" style="width:80px">
                    {% else %}
                        {% if post.customer == "삼성" %}
                            <img src="/static/samsung.png" style="width:80px">
                        {% endif %}
                    {% endif %}
                </td>
                <td align="center" style="color:red"><s>{{ post.production }}</s></div>
                <td align="center" style="color:red"><s>{{ post.customer|linebreaksbr }}</s></div>
                <td align="center" style="color:red"><s>{{ post.project_name }}</s></div>
                <td align="center" style="color:red"><s>{{ post.model }}</s></div>
                <td align="center" style="color:red"><s>{{ post.serialnumber|linebreaksbr }}</s></div>
                <td align="center" style="color:red"><s>{{ post.osversion }}</s></div>
                <td align="center" style="color:red"><s>{{ post.hostname|linebreaksbr }}</s></div>
                <td align="center" style="color:red"><s>{{ post.installedate }}</s></div>
                <td align="center">
                    <p class="text-center">
                        <a href="{% url 'installbase:installbase_detail' pk=post.id %}" class="btn btn-sm btn-success">상세 확인</a>
                    </p>
                </tr>
                <tr>
                    <td colspan="10"><hr></td>
                </tr>
                <br>
            {% else %}
                <tr>
                <td align="center">
                    {% if post.customer == "HKMC" %}
                        <img src="/static/hyundai_car.jpg" style="width:80px">
                    {% else %}
                        {% if post.customer == "삼성" %}
                            <img src="/static/samsung.png" style="width:80px">
                        {% endif %}
                    {% endif %}
                </td>
                <td align="center">
                    {% if post.production %}
                        <span class="badge badge-primary">운영</span>
                    {% else %}
                        <span class="badge badge-secondary">백업</span>
                    {% endif %}
                </td>
                <td align="center">{{ post.customer|linebreaksbr}}</td>
                <td align="center">{{ post.project_name }}</td>
                <td align="center">{{ post.model }}</td>
                <td align="center">{{ post.serialnumber|linebreaksbr }}</td>
                <td align="center">{{ post.osversion }}</td>
                <td align="center">{{ post.hostname|linebreaksbr }}</td>
                <td align="center">{{ post.installedate }}</td>
                <td align="center">
                    <a href="{% url 'installbase:installbase_detail' pk=post.id %}" class="btn btn-sm btn-success">상세 확인</a>
                </td>
                </tr>
                <tr>
                    <td colspan="10"><hr></td>
                </tr>
                </tr>
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
    </table>
{% endblock %}